{{ define "main" }}

<main>
  <div class="post">
    {{ partial "single/post-info.html" . }} {{ partial "single/title.html" . }}
    {{ partial "single/header.html" . }} {{ .Content }}

    <form action="https://formspree.io/f/xvodldaw" method="POST">
      <label>
        Tu email:
        <input type="email" name="_replyto" />
      </label>
      <br />
      <br />

      <label>
        Comentarios:
        <textarea name="message"></textarea>
      </label>
      <!-- your other form fields go here -->
      <br />
      <label>
        Tu nombre:
        <input type="nombre" name="_replyto" />
      </label>

      <br />
      <button type="submit">Enviar</button>
    </form>

    {{ partial "single/footer.html" . }}
  </div>

  <div class="pagination">
    {{- if .PrevPage }}
    <a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
    {{- end }} {{- if .NextPage }}
    <a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
    {{- end }}

    <a href="#" class="top">Top</a>
  </div>
</main>

{{ end }}
